$color-brand: #7c4e7a; // #7c4e7a; // 春节
$at-input-label-color: #7c4e7a; // #7c4e7a; // 春节
$color-border-base: #d0d0d0;
//$color-border-base: red;
$color-brand-dark: #ff8b99;
@import "~taro-ui/dist/style/index.scss";