module.exports = {
    "商区": "商区",
    "地铁站": "地铁站",
    "特色功能": "特色功能",
    "特殊厅": "特殊厅",
    "重置": "重置",
    "确定": "确定",
    "{value} 元起": "{value} 元起",
    "退": "退",
    "改签": "改签",
    "小吃": "小吃",
    "购": "购",
    "赞": "赞",
    "正在加载...": "正在加载...",
    "加载中...": "加载中...",
    "{value}元": "￥{value}",
    "搜影院": "搜影院",
    "暂无符合条件的影院": "暂无符合条件的影院",
    "观众评分": "观众评分",
    "上映": "上映",
    "购票": "购票",
    "想看": "想看",
    "预售": "预售",
    "正在热映": "正在热映",
    "即将上映": "即将上映",
    "暂无影片": "暂无影片",
    "近期最受期待": "近期最受期待",
    "含服务费3元/张": "含服务费3元/张",
    "活动和优惠券": "活动和优惠券",
    "无可用优惠券": "无可用优惠券",
    "退改签须知": "退改签须知",
    "手机号": "手机号",
    "手机号仅用于生成订单，取票码不再以短信发送": "手机号仅用于生成订单，取票码不再以短信发送",
    "还需支付：": "还需支付：",
    "确认支付": "确认支付",
    "登录": "登录",
    "点击登录": "点击登录",
    "我的订单": "我的订单",
    "分享给朋友": "分享给朋友",
    "客服反馈": "客服反馈",
    "关于": "关于",
    "分": "分",
    "暂无评分": "暂无评分",
    "{time}散场": "{time}散场",
    "今日场次已映完": "今日场次已映完",
    "影片未上映": "影片未上映",
    "影院超值套餐": "影院超值套餐",
    "电影": "电影",
    "影院价: {value}元": "影院价: {value}元",
    "输入城市名或拼音查询": "输入城市名或拼音查询",
    "没有找到相关内容": "没有找到相关内容",
    "热门评论": "热门评论",
    "最新评论": "最新评论",
    "加载更多...": "加载更多...",
    "{num} 万人评分": "{num} 万人评分",
    "{minute}分钟": "{minute}分钟",
    "剧情简介": "剧情简介",
    "演职人员": "演职人员",
    "暂无数据...": "暂无数据...",
    "媒体库": "媒体库",
    "观众评论": "观众评论",
    "查看全部{num}条短评": "查看全部{num}条短评",
    "优惠购票": "优惠购票",
    "张": "张",
    "总价：{value}元": "总价：{value}元",
    "已完成": "已完成",
    "暂无电影订单": "暂无电影订单",
    "取消": "取消",
    "电影/电视剧/综艺": "电影/电视剧/综艺",
    "影院": "影院",
    "当天暂无场次": "当天暂无场次",
    "示例": "示例",
    "请先选座": "请先选座",
    "数量：{num}": "数量：{num}",
    "暂无小吃订单": "暂无小吃订单",
    "立即抢购": "立即抢购",
    "随时退": "随时退",
    "过期退": "过期退",
    "套餐详情": "套餐详情",
    "购买须知": "购买须知",
    "影院信息": "影院信息",
    "评分": "评分",
    "播放中": "播放中",
    "近期场次：": "近期场次：",
    "主演：": "主演：",
    "查看全部,条短评": "查看全部,条短评",
    "数量：": "数量：",
    "播放列表（{length})": "播放列表（{length})",
    "开场时间60分钟前，可免费改签、退款": "开场时间60分钟前，可免费改签、退款",
    "使用观影卡或享受票减小吃特惠时，不可改签": "使用观影卡或享受票减小吃特惠时，不可改签",
    "手机号：": "手机号：",
    "流水号：": "流水号：",
    "验证码：": "验证码：",
    "订单号：": "订单号：",
    "客服电话": "客服电话",
    "工作时间：": "工作时间：",
    "1人座": "1人座",
    "2人座": "2人座",
    "3人座": "3人座",
    "4人座": "4人座",
    "地图": "地图",
    "定位失败": "定位失败",
    "正在定位...": "正在定位...",
    "1份": "1份",
    "有效期": "有效期",
    "购买后90天有效": "购买后90天有效",
    "退款说明": "退款说明",
    "过期后系统将自动退款": "过期后系统将自动退款",
    "热门城市": "热门城市",
    "热门": "热门",
    "当前定位城市": "当前定位城市",
    "定位": "定位",
    "定位失败，请点击重试": "定位失败，请点击重试",
    "需要先授权定位才可获得您的位置信息": "需要先授权定位才可获得您的位置信息",
    "打开定位": "打开定位",
    "提示": "提示",
    "确认删除订单吗？": "确认删除订单吗？",
    "搜电影、搜影院": "搜电影、搜影院",
    "获取座位图失败": "获取座位图失败",
    "请至少选择一个座位~": "请至少选择一个座位~",
    "锁座失败了~,金额为0": "锁座失败了~,金额为0",
    "没有合适的座位~": "没有合适的座位~",
    "最多只能选择{value}个座位哦~": "最多只能选择{value}个座位哦~",
    "{row}排{column}座": "{row}排{column}座",
    "播放错误": "播放错误",
    "票价": "票价",
    "支付成功": "支付成功",
    "前天": "前天",
    "昨天": "昨天",
    "今天": "今天",
    "明天": "明天",
    "后天": "后天",
    "周日": "周日",
    "周一": "周一",
    "周二": "周二",
    "周三": "周三",
    "周四": "周四",
    "周五": "周五",
    "周六": "周六",
    "刚刚": "刚刚",
    "{minute}分钟前": "{minute}分钟前",
    "{hour}小时前": "{hour}小时前",
    "{day}天前": "{day}天前",
    "{year}年{month}月{day}日": "{month}月{day}日",
    "{month}月{day}日": "{month}月{day}日",
    "确认选座": "确认选座",
    "已售": "已售",
    "我的": "我的",
    "影片详情": "影片详情",
    "电影订单": "电影订单",
    "小吃订单": "小吃订单",
    "确认订单": "确认订单",
    "观影套餐": "观影套餐",
    "提交订单": "提交订单",
    "支付中...": "支付中...",
    "订单详情": "订单详情",
    "搜索": "搜索",
    "选择城市": "选择城市",
    "位置信息": "位置信息",
    "授权登录": "授权登录",
    "登录失败": "登录失败",
    "授权登录后才能继续操作，未注册的账号，登录时将自动注册。": "授权登录后才能继续操作，未注册的账号，登录时将自动注册。",
    "国语": "国语",
    "原版": "原版",
    "5号激光厅": "5号激光厅",
    "6号激光厅": "6号激光厅",
    "VIP厅": "VIP厅",
    "1号激光厅": "1号激光厅",
    "2号激光厅": "2号激光厅",
    "3号激光厅": "3号激光厅",
    "折扣卡首单特惠": "折扣卡首单特惠",
    "影城卡": "影城卡",
    "中国大陆": "中国大陆",
    "美国": "美国",
    "法国": "法国",
    "英国": "英国",
    "日本": "日本",
    "奥地利": "奥地利",
    "导演": "导演",
    "配音演员": "配音演员",
    "3D眼镜（网售）": "3D眼镜（网售）",
    "乐视成人款LST001x1副": "乐视成人款LST001x1副",
    "新柠单人套餐": "新柠单人套餐",
    "小桶爆米花32ozx1桶,大杯柠檬可乐1杯": "小桶爆米花32ozx1桶,大杯柠檬可乐1杯",
    "冰川水双人套餐": "冰川水双人套餐",
    "中桶爆米花64oz×1桶、格莱雪矿泉水550ml×2瓶": "中桶爆米花64oz×1桶、格莱雪矿泉水550ml×2瓶",
    "多人套餐": "多人套餐",
    "大杯可乐22oz×3杯、大桶双拼85oz×1桶": "大杯可乐22oz×3杯、大桶双拼85oz×1桶",

    "1228248_cat": "谍战,奇幻,家庭,历史",
    "1228248_dir": "陈思诚",
    "1228248_dra": "老少咸宜的中国大片！比肩世界的诚意之作！改编自茅盾文学奖获奖者麦家的三部曲（《解密》《暗算》《风声》）中同名小说，讲述了上世纪四十年代与新中国命运息息相关的一位数学天才的传奇一生！",
    "1228248_nm": "解密",
    "1228248_pubDesc": "2024-08-03 09:00中国大陆上映",
    "1228248_star": "刘昊然,约翰·库萨克,陈道明",
    "1228248_videoName": "电影《解密》发布「先国后家」版后告片",
    "1228248_30065": "饰: 容金珍",
    "1228248_8349": "饰: 希伊斯",
    "1228248_2860": "饰: 郑某",
    "1228248_2120": "饰: 小黎黎",
    "1228248_2211": "饰: 叶筱凝",
    "1516983_cat": "喜剧,剧情",
    "1516983_dir": "闫非,彭大魔",
    "1516983_dra": "沈腾马丽合体爆改偷感夫妇，暑期开大贴脸开笑！！马成钢（沈腾 饰）和春兰（马丽 饰），赶驴打工，家徒四壁，而儿子马继业（肖帛辰 饰）则是他们逆天改命的唯一希望！但随着小马一天天长大，他却逐渐发现身边的人们都越来越不对劲……",
    "1516983_nm": "抓娃娃",
    "1516983_pubDesc": "2024-07-16 09:00中国大陆上映",
    "1516983_star": "沈腾,马丽,史彭元",
    "1516983_videoName": "电影《抓娃娃》曝“包袱还得捞”版后告片 沈腾马丽重新开局爆笑带娃",
    "1516983_354047": "饰: 马成钢",
    "1516983_20385": "饰: 春兰",
    "1516983_355704": "饰: 马继业",
    "1516983_357962": "饰: 奶奶 / 李老师",
    "1200478_cat": "科幻",
    "1200478_dir": "肖恩·利维",
    "1200478_dra": "《死侍与金刚狼》将最大程度还原充斥着极端暴力、无限反转、狂野段子的混世魔王氛围。",
    "1200478_nm": "死侍与金刚狼",
    "1200478_pubDesc": "2024-07-26中国大陆上映",
    "1200478_star": "瑞安·雷诺兹,休·杰克曼,艾玛·科林",
    "1200478_videoName": "《死侍3》全球首支预告发布",
    "1200478_28485": "饰: 死侍 / 韦德·威尔逊 Deadpool / Wade Wilson",
    "1200478_29066": "饰: 金刚狼 / 罗根 Logan / Wolverine",
    "1200478_2938502": "饰: 卡桑德拉·诺瓦 Cassandra Nova",
    "1200478_6638": "饰: 悖论先生 Mr. Paradox",
    "1200478_28231": "饰: 哈皮·霍根 Happy Hogan",
    "1200478_1024657": "饰: 凡妮莎 Vanessa",
    "1528124_cat": "犯罪,悬疑,剧情",
    "1528124_dir": "柯汶利",
    "1528124_dra": "《误杀》导演柯汶利第二部「利」作！霸凌者全员遭惨杀？！\n初中女生惠君长期遭校园霸凌高处坠亡，暴行非但没有停止，甚至祸延到闺蜜小彤身上。然而，霸凌者也接连殒命于重锤之下。善恶有报罪恶难逃，真相即将揭晓……",
    "1528124_nm": "默杀",
    "1528124_pubDesc": "2024-07-03 13:00中国大陆上映",
    "1528124_star": "王传君,张钧甯,吴镇宇",
    "1528124_videoName": "《默杀》发布“重锤霸凌”版预告 霸凌者接连遇害人人皆有嫌疑",
    "1528124_1795": "饰: 林在福",
    "1528124_11676": "饰: 李涵",
    "1528124_990": "饰: 戴国栋",
    "1528124_2902407": "饰: 小彤",
    "1528124_7796": "饰: 徐妈妈",
    "1219664_cat": "喜剧,动作,动画",
    "1219664_dir": "克里斯·雷纳德",
    "1219664_dra": "掌管快乐的神来了，小黄人系列电影惊喜回归！\n格鲁一家迎来新成员，坑爹熊娃“迷你格鲁”。欢闹整活儿四娃家庭，齐聚暑期“爸”道来袭！来影院和超级小黄人一起夏日狂欢！",
    "1219664_nm": "神偷奶爸4",
    "1219664_pubDesc": "2024-07-12中国大陆上映",
    "1219664_star": "史蒂夫·卡瑞尔,大鹏,克里斯汀·韦格",
    "1219664_videoName": "《神偷奶爸4》发布全新预告，7月12日暑期档上映",
    "1219664_29284": "配: 格鲁 Gru",
    "1219664_29285": "配: Lucy Wilde",
    "1219664_32461": "配: 小黄人 Minions / Kevin / Stuart / Bob",
    "1219664_28649": "配: 波比 Poppy Prescott",
    "672148_cat": "喜剧,科幻,青春",
    "672148_dir": "李阳",
    "672148_dra": "友情提示：请在地球人陪同下前往影院观看。在地球人都不知道的K星，三个被命运选中的少年，靠打个喷嚏就可以往返未来二十年。8月3日，外表看似大人，头脑却异于常人的“王炸”兄弟组合，代表k星拯救未来！",
    "672148_nm": "从21世纪安全撤离",
    "672148_pubDesc": "2024-08-02 14:00中国大陆上映",
    "672148_star": "张若昀,钟楚曦,宋洋",
    "672148_videoName": "电影《从21世纪安全撤离》终极预告",
    "672148_455211": "饰: 王炸",
    "672148_1035202": "饰: 刘连枝",
    "672148_18742": "饰: 王诚勇",
    "672148_362968": "饰: 韩光",
    "672148_1155057": "饰: 杨艺",
    "1516902_cat": "剧情",
    "1516902_dir": "徐峥",
    "1516902_dra": "曾经意气风发的高志垒(徐峥 饰)在生活的重压下，中年“失速”偏离了原本的生活轨迹，接连不断的变故如疾风骤雨般袭来，迫使他不得不重新面对自我。",
    "1516902_nm": "逆行人生",
    "1516902_pubDesc": "2024-08-09 09:00中国大陆上映",
    "1516902_star": "徐峥,辛芷蕾,王骁",
    "1516902_videoName": "徐峥现实主义新作《逆行人生》曝终极预告，火热预售中！",
    "1516902_28609": "饰: 高志垒",
    "1516902_29386": "饰: 肖妮",
    "1516902_6256": "饰: 老抠",
    "1516902_2803121": "饰: 朱站长",
    "1516902_1017572": "饰: 大黑",
    "1479534_cat": "动画",
    "1479534_dir": "凯尔西·曼",
    "1479534_dra": "莱利逐渐适应新城市后，乐乐、忧忧、怒怒、怕怕和厌厌的“脑内生活”也波澜不惊，直到新情绪焦焦从天而降，发掘心中未知的角落，一起感受喜怒哀乐，五味陈杂的百变情绪。",
    "1479534_nm": "头脑特工队2",
    "1479534_pubDesc": "2024-06-21中国大陆上映",
    "1479534_star": "艾米·波勒,关晓彤,玛雅·霍克",
    "1479534_videoName": "皮克斯新片《头脑特工队2》发布终极预告 该片北美6.14上映，中国内地6.21上映",
    "1479534_3337": "配: 乐乐 Joy",
    "1479534_1096329": "配: 焦焦 Anxiety",
    "1479534_46644": "配: 怒怒 Anger",
    "344881_cat": "动画,剧情",
    "344881_dir": "新海诚",
    "344881_dra": "故事背景发生在适逢千年一遇彗星到访的日本，生活在日本小镇的女高中生宫水三叶对于担任镇长的父亲所举行的选举运动，对大城市充满憧憬的她，甚至幻想着“来世请让我做东京的帅哥吧！”。",
    "344881_nm": "你的名字。",
    "344881_pubDesc": "2024-07-19 14:00中国大陆重映",
    "344881_star": "上白石萌音,佟心竹,神木隆之介",
    "344881_videoName": "《你的名字。》“想见你”预告",
    "344881_384830": "配: 宫水三叶",
    "344881_9959": "配: 立花泷",
    "344881_2209": "配: 奥寺美纪",
    "1504558_cat": "热血,冒险,动画",
    "1504558_dir": "黄俊铭,陈力进",
    "1504558_dra": "自然界中的神奇宝石维护着世界的稳定和平，一股神秘力量正蠢蠢欲动，危机四处蔓延。众羊狼与新伙伴再踏上守护世界的征途，在一次次的冒险与闯关中共同成长，最终明白了守护的意义。",
    "1504558_nm": "喜羊羊与灰太狼之守护",
    "1504558_pubDesc": "2024-07-19 09:00中国大陆上映",
    "1504558_star": "祖晴,张琳,梁颖",
    "1504558_videoName": "“共同守护”版预告发布！咘喜和喜羊羊碰拳告别看哭了",
    "1504558_526": "配: 喜羊羊",
    "1504558_32809": "配: 灰太狼",
    "1504558_32810": "配: 懒羊羊/小灰灰",
    "1501625_cat": "犯罪",
    "1501625_dir": "马浴柯",
    "1501625_dra": "在隐蔽的缦城角落，利欲熏心的贩毒集团不择手段，致使无数人因沾染毒品而家庭破碎、坠落深渊。",
    "1501625_nm": "重生",
    "1501625_pubDesc": "2024-08-16 09:00中国大陆上映",
    "1501625_star": "张家辉,阮经天,张榕容",
    "1501625_videoName": "电影《重生》定档预告 张家辉阮经天联手做局除害升级",
    "1501625_28978": "饰: 张耀",
    "1501625_5326": "饰: 安渡",
    "1501625_29840": "饰: 南茜",
    "1501625_29374": "饰: 巴莱",
    "1501625_19838": "饰: 赫塔",
    "1336026_cat": "动作,冒险",
    "1336026_dir": "李·以萨克·郑",
    "1336026_dra": "埃德加-琼斯在片中饰演凯特·卡特，她曾是一名追风人，大学时遭遇龙卷风的惨痛经历令她饱受困扰，如今她在纽约的办公室里研究风暴模式。在朋友哈维的招募下，她重返户外，开始测试一套突破性的全新追风系统。",
    "1336026_nm": "龙卷风",
    "1336026_pubDesc": "2024-07-19中国大陆上映",
    "1336026_star": "黛西·埃德加-琼斯,格伦·鲍威尔,安东尼·拉莫斯",
    "1336026_videoName": "《龙卷风》发布定档预告，中国内地定档7.19，同步北美上映",
    "1336026_2845128": "饰: 凯特·卡特 Kate",
    "1336026_3740": "饰: 泰勒·欧文斯 Tyler Owens",
    "1336026_2844010": "饰: 哈维 Javi",
    "1336026_63533": "饰: Cathy",
    "1336026_1735630": "饰: Boone",
    "1464004_cat": "科幻,恐怖",
    "1464004_dir": "费德·阿尔瓦雷兹",
    "1464004_dra": "二十世纪影业出品的《异形：夺命舰》（Alien: Romulus），将于2024年8月16日在全美影院上映。这部科幻恐怖新片将再现“异形”系列最经典的压抑和惊悚氛围：一群年轻的太空殖民者在冒险探索一个废弃的太空站时，意外遭遇了宇宙中最可怕的生命体——异形。 ",
    "1464004_nm": "异形：夺命舰",
    "1464004_pubDesc": "2024-08-16中国大陆上映",
    "1464004_star": "卡莉·史派妮,戴维·荣松,阿奇·雷诺",
    "1464004_videoName": "电影《异形：夺命舰》发布终极预告",
    "1464004_2375407": "饰: Rain Carradine",
    "1464004_3096144": "饰: Andy",
    "1464004_2961295": "饰: Tyler",
    "1464004_1028162": "饰: Kay",
    "1464004_3096806": "饰: Bjorn",
    "1261678_cat": "犯罪,剧情",
    "1261678_dir": "大庆",
    "1261678_dra": "沈腾首演黑帮犯罪片，化身满级黑道大哥，赌命搏生死，不一样的沈腾，不一样的犯罪片！",
    "1261678_nm": "逆鳞",
    "1261678_pubDesc": "2024-08-23 18:00中国大陆上映",
    "1261678_star": "沈腾,张雨绮,高捷",
    "1261678_videoName": "电影《逆鳞》定档8月23日 沈腾首次出演黑帮犯罪片展现大哥魅力",
    "1261678_354047": "饰: 尊非",
    "1261678_5602": "饰: 苏笑",
    "1261678_28982": "饰: 黄朝晋",
    "1261678_453117": "饰: 桃子",
    "1261678_424388": "饰: 常喜来",

    "1228248_1198501769": "还不错，但当时一边看一边注意到主角的发际线后移就莫名感慨呢:-D",
    "1228248_1198520116": "剧情紧凑，有点深度内涵，演员角色表演很到位。",
    "1228248_1198499693": "很好看喜欢。",
    "1228248_1198304138": "看过原著，再看电影《解密》，感觉出乎意料的好！值得一看！",
    "1228248_1198326405": "“碌碌无为才会承欢膝下，金榜题名当报效国家”，这个电影真的很好，👍",
    "1516983_1198508642": "很好看，推荐！！！",
    "1516983_1198526017": "非常好看，推荐",
    "1516983_1198499697": "非常搞笑  很有喜剧感",
    "1516983_1198510553": "挺不错的值得一看",
    "1516983_1197445985": "刷到几个片段，所以一定要去看看，笑出眼泪了😂",
    "1516983_1197450991": "电影有爱有乐有醒悟，不虚此行！",
    "1516983_1197461540": "寓意还是挺深刻的，值得观影。",
    "1516983_1197476261": "好看的，笑点密集，可以二刷起来了。",
    "1200478_1198487858": "刀锋出来的时候是个惊喜",
    "1200478_1198489868": "看热闹吧就那样",
    "1200478_1198493817": "很好看，我也想你们入坑",
    "1200478_1197918540": "《死侍与金刚狼》在IMAX银幕上的震撼体验无与伦比。",
    "1200478_1197862241": "太好看了！终局之战之后 漫威最好看的一部！",
    "1528124_1198506648": "真的非常好看、",
    "1528124_1198492830": "挺好看的这个",
    "1528124_1198515277": "沉默是最大得杀器",
    "1528124_1196684928": "对于霸凌行为，我们坚决抵制！",
    "1528124_1196711382": "故事很有层次感，这《默杀》比《误杀》更有杀意，很入戏！",
    "1528124_1196690608": "这部电影令我想到七宗罪，人七种欲望的过度带来七宗罪。",
    "1219664_1198486877": "还不错，如果是英文就好了",
    "1219664_1198504575": "蛮好看滴哦！",
    "1219664_1198505626": "小黄人太可爱了",
    "1219664_1197072969": "哈哈，这一部太欢快了，从片头笑到片尾，跟过山车似的笑得起起伏伏。",
    "1219664_1197100379": "《神偷奶爸》系列前面3集都看过，终于等到了第4集。本片观看起来很放松，十分解压。",
    "672148_1198506647": "荒诞极了。",
    "672148_1198486880": "非常棒 想二刷！",
    "672148_1198390122": "看完后有一种强烈的滞后感\n看完后15分钟内脑子都是空的",
    "1516902_1198510554": "为什么外卖员不能免费看？不是讲述外卖员的辛苦吗?",
    "1516902_1198482946": "有笑点有有泪点，又让人沉思片刻的一部好片",
    "1516902_1198503613": "有钱人，演穷人，让穷人花钱看有钱人？",
    "1516902_1198339108": "好看真的，每一个努力的人都值得被尊重，陌生人加油",
    "1516902_1198301824": "情节中规中矩，故给出7分的评价！",
    "1479534_1198525008": "为了第一部来的。",
    "1479534_1198495756": "很适合带孩子一起观看",
    "1479534_1198499530": "忧忧太可爱了😭",
    "1479534_1198514122": "不愧是皮克斯",
    "1479534_1196048437": "#头脑特工队2# \n永远可以相信皮克斯！好喜欢这个结局😘😘😘",
    "1479534_1196034822": "没看过第一部照样可以🉑垂直入坑的一部电影🎞️！",
    "1479534_1196068101": "每个人的大脑中都住着一个精彩的小世界。",
    "344881_1198485945": "新海诚的第一部，简直完美",
    "344881_87964613": "美的不像话，每一帧都是一幅画。",
    "344881_87966994": "一个人看零点首映的事儿我不是第一次干，也完全没觉得孤独",
    "344881_87971610": "电影好看…挺好看的。",
    "1504558_1198514284": "陪小朋友看的，还好",
    "1504558_1198505627": "童年的回忆。",
    "1504558_1197170238": "画面2D和3D都有，3D部分有些有点崩，2D超赞［喜欢］",
    "1504558_1198085723": "🌟 推荐\n好看的！我从小到大都是最喜欢《喜羊羊与灰太狼》的！",
    "1501625_1198482854": "应该像尚气一样，国家电影局禁止发行，发售",
    "1501625_1198496239": "很搞笑，非常非常好看，很适合小朋友啊，大人去看",
    "1501625_1198478435": "剧情紧湊，嘴笨，不知怎么说。",
    "1501625_1198385672": "阮经天穿制服除害看起来真的狠戾升级。",
    "1501625_1198409215": "别放过那群恶人！",
    "1336026_1198485832": "大片，震撼，多引进吧",
    "1336026_1198496651": "非常好看，下次还会看。",
    "1336026_1197472427": "作为科幻大片自然灾难片，这几年看过最好的一部！",
    "1336026_1197478450": "🌟 推荐👍",
    "1336026_1197466722": "“龙卷风”的强大力量和神秘性常常令人惊叹和恐惧",
    "1261678_1198513675": "期待~",
    "1261678_1198516547": "这有点意思，还没看，先预评论一下",
    "1261678_1198502876": "就怕看着看着突然来一句“我是大哥，我摊牌了！",
    "1261678_1198514199": "应该像尚气一样，国家电影局禁止  发行发售！",
    "1261678_1198455616": "刚说想看腾哥不演喜剧演犯罪片的大哥，这就来了",
    "1261678_1198468206": "沈腾演大哥，人狠话不多！",
    "1261678_1198434829": "坐等《逆鳞》8月23日上映！",
    "1464004_1198504803": "Nice!!",
    "1464004_1198532049": "预言直接删减成 异形",
    "1464004_1195770413": "希望到时候审核手下留情，别删减太多🙏",
    "1464004_1197751387": "时隔7年的科幻恐怖力作",

    "79_nm": "横店电影城（王府井店）",
    "79_addr": "东城区王府井大街255号北京市百货大楼F8",
    "267_nm": "百老汇影城（apm购物中心店）",
    "267_addr": "东城区王府井大街138号北京apm6层",
    "269_nm": "中影国际影城（东方新天地CINITY店）",
    "269_addr": "东城区东长安街1号东方新天地LG层第五区BB65",
    "122_nm": "新影联金宝影城",
    "122_addr": "东城区金宝街88号金宝汇购物中心一期7层",
    "16605_nm": "传奇奢华影城（新活馆店）",
    "16605_addr": "东城区东打磨厂街7号新活馆B1层",
    "17023_nm": "保利国际影城（北京天安门CINITY店）",
    "17023_addr": "西城区煤市街廊房头条交叉口东北角北京坊东区B1-B2层",
    "37008_nm": "幕秀影院（哈德门中心店）",
    "37008_addr": "东城区崇文门外大街哈德门广场西塔1号楼B1层1001号",
    "119_nm": "百老汇影城（国瑞购物中心店）",
    "119_addr": "东城区崇文门外大街18号国瑞城购物中心地下二层",
    "263_nm": "大观楼电影院",
    "263_addr": "西城区前门大街大栅栏街36号",
    "270_nm": "搜秀影城",
    "270_addr": "东城区崇外大街40号搜秀城9层",

    "1228248_505119": "电影《解密》发布「先国后家」版后告片",
    "1228248_504939": "电影《解密》“梦境”版终极预告 震撼发布",
    "1516983_504818": "电影《抓娃娃》曝“包袱还得捞”版后告片 沈腾马丽重新开局爆笑带娃",
    "1516983_504750": "电影《抓娃娃》曝终极预告 沈腾马丽“爆改”带娃笑料不断",
    "1200478_502202": "《死侍3》全球首支预告发布",
    "1200478_503703": "《死侍3》发布新预告 7.26北美上映", "1528124_504570": "《误杀》导演“罪”新“厉”作 发布“超先导”预告",
    "1219664_503471": "《神偷奶爸4》发布全新预告，7月12日暑期档上映",
    "1219664_503371": "《神偷奶爸4》确认引进 格鲁带萌娃亮相",
    "672148_504992": "电影《从21世纪安全撤离》终极预告",
    "672148_504738": "喜剧科幻电影《从21世纪安全撤离》“最后一个暑假”预告", "1516902_505179": "热映中！电影《逆行人生》曝闯关后告片，现实共鸣直击人心",
    "1516902_505157": "电影《逆行人生》七夕特别视频，徐峥辛芷蕾诠释最好的爱！",
    "1516902_505027": "徐峥现实主义新作《逆行人生》曝终极预告，火热预售中！",
    "1479534_503689": "你的情绪好友乐乐正在直播——《头脑特工队2》6月21日全国上映！",
    "1479534_503392": "迪士尼·皮克斯全新年度力作《头脑特工队2》定档6月21日全国上映",
    "344881_504941": "《你的名字。》“想见你”预告",
    "344881_504534": "电影《你的名字。》“奔向你”预告",
    "1504558_504979": "“共同守护”版预告发布！咘喜和喜羊羊碰拳告别看哭了",
    "1501625_505139": "《重生》曝主题预告 张家辉阮经天高能预警“出门小心”",
    "1501625_505070": "电影《重生》定档预告 张家辉阮经天联手做局除害升级",
    "1336026_504232": "《龙卷风》发布定档预告，中国内地定档7.19，同步北美上映",
    "1336026_504816": "暑期灾难巨制《龙卷风》今日上映，极致视效见证震撼奇观！",
    "1464004_504813": "电影《异形：夺命舰》发布终极预告",
    "1464004_504751": "《异形：夺命舰》发布IMAX预告",
    "1261678_505107": "电影《逆鳞》定档8月23日 沈腾首次出演黑帮犯罪片展现大哥魅力",
}