module.exports = {
  "Top seller: iPhone 13":"Penjualan terlaris: iPhone 14",
  "Loading": "Memuat", 
  "Refresh":"Segarkan",
  "Load failure": "Gagal memuat",
  "Current version":"Versi saat ini",
  "Business time":"Waktu kerja",
  "Chat now":"Ngobrol sekarang",
  "Cancel":"Batal",
  "Call us":"Panggil kami",
  "Call":"Panggil",
  "Please login":"Harap login",
  "Normal user":"Pengguna normal",
  "synthesis":"sintesis",
  "Price": "Harga",
  "screen":"layar",
  "Save":"Simpan",
  "Reset":"Atur ulang",
  "OK":"OK",
  "Confirm":"Konfirmasi",
  "Select all":"Pilih semua",
  "Subtotal":"Subtotal",
  "Without shipping cost":"Tanpa biaya pengiriman",
  "Go to checkout":"Buka checkout",
  "Coupons":"Kupon",
  "Delete":"Hapus",
  "Not enough stock":"Stok tidak cukup",
  "Out of stock":"Kehabisan stok",
  "Only {stockQuantity} remaining":"Hanya {stockQuantity} tersisa",
  "Out of stock":"Kehabisan stok",
  "Re-select":"Pilih ulang",
  "Please select other product available":"Harap pilih produk lain yang tersedia",
  "Selected specifications":"Spesifikasi yang dipilih",
  "Coupons can be stacked":"Kupon dapat dikumpulkan",
  "Free shipping":"Gratis ongkos kirim",
  "Yuan":"Yuan",
  "off":"diskon",
  "Coupon can be applied for the following items":"Kupon dapat digunakan untuk barang berikut",
  "coupon":"kupon",
  "Rule details":"Detail aturan",
  "Coupon validity time":"Masa berlaku kupon",
  "Coupon description":"Deskripsi kupon",
  "Coupon usage":"Penggunaan kupon",
  "View applicable products":"Lihat produk yang berlaku",
  "Coupon center":"Pusat kupon",
  "Response from the owner":"Tanggapan dari pemilik",
  "Review":"Ulasan",
  "Review anonymously":"Ulasan bersifat anonim",
  "Review on shipping service":"Ulasan tentang layanan pengiriman",
  "Shipping service review":"Ulasan layanan pengiriman",
  "All":"Semua",
  "View":"Lihat",
  "My reviews":"Ulasan saya",
  "With pictures":"Dengan gambar",
  "Positive reviews":"Ulasan positif",
  "Neutral reviews":"Ulasan netral",
  "Negative reviews":"Ulasan negatif",
  "Add to cart":"Tambahkan ke keranjang",
  "Buy now":"Beli sekarang",
  "Select":"Pilih",
  "Quantity":"Jumlah",
  "Starting from":"Mulai dari",
  "Claim coupon":"Klaim kupon",
  "The buyer has shipped the product":"Pembeli telah mengirim produk",
  "Share":"Bagikan",
  "Selected":"Dipilih",
  "Reviews":"Ulasan",
  "Positive reviews":"Ulasan positif",
  "Details":"Detail",
  "Price range":"Rentang harga",
  "Tracking number for return":"Nomor pelacakan untuk pengembalian",
  "Note: After the WeChat refunded you, you can look up your WeChat transactions. It might take some time for the bank to process the refund. Please check your account later":"Catatan: Setelah WeChat mengembalikan dana Anda, Anda dapat melihat transaksi WeChat Anda. Bank butuh waktu beberapa saat untuk memproses pengembalian uang. Harap periksa akun Anda nanti",
  "Recently viewed":"Baru-baru ini dilihat",
  "Clear":"Hapus",
  "Top searches":"Pencarian teratas",
  "No refund or aftersale service requests":"Tidak ada permintaan pengembalian dana atau layanan purnajual",
  "Apply for refund without returning product":"Ajukan pengembalian dana tanpa mengembalikan produk",
  "Refund description":"Deskripsi pengembalian dana",
  "Submit evidence":"Kirim bukti",
  "Up to 3 pictures":"Hingga 3 gambar",
  "Submit":"Kirim",
  "Cancel":"Batal",
  "Default":"Default",
  "Refund amount":"Jumlah pengembalian dana",
  "Didn't receive the product or the merchant agreed not to return the product ":"Tidak menerima produk atau pedagang setuju untuk tidak mengembalikan produk ",
  "Contact us":"Hubungi kami",
  "Business hour":"Jam kerja",
  "Online Chat":"Obrolan Online",
  "Insufficient stock":"Stok tidak cukup",
  "Re-select":"Pilih ulang",
  "Please select the product specification":"Harap pilih spesifikasi produk",
  "Item with restricted quantity":"Barang dengan jumlah terbatas",
  "The following items are restricted in quantity. Please change the quantity":"Barang berikut jumlahnya dibatasi. Harap ubah jumlahnya",
  "Shipping not supported":"Pengiriman tidak didukung",
  "The items do not support shipping. Please change shipping address or remove the items to proceed to checkout":"Barang tidak mendukung pengiriman. Harap ubah alamat pengiriman atau hapus barang untuk melanjutkan ke checkout",
  "Some items are out of stock or invalid":"Beberapa barang kehabisan stok atau tidak valid",
  "Please return to your cart to select products or proceed to checkout ignoring any insufficient or invalid items":"Harap kembali ke keranjang untuk memilih produk atau lanjutkan ke checkout dengan mengabaikan barang yang tidak cukup atau tidak valid",
  "All items are either out of stock or invalid":"Semua barang kehabisan stok atau tidak valid",
  "Please go back to cart and select product":"Harap kembali ke keranjang dan pilih produk",
  "Back to cart":"Kembali ke keranjang",
  "Modify shipping address":"Ubah alamat pengiriman",
  "Proceed to checkout":"Lanjutkan ke checkout",
  "Expand（Total: {goodsCount} item(s)）":"Perluas (Total: {goodsCount} barang)",
  "selected and can save ":"dipilih dan dapat disimpan ",
  "This coupon cannot be applied with selected ones":"Kupon ini tidak dapat digunakan pada barang yang dipilih",
  "No coupons":"Tidak ada kupon",
  "Select coupons":"Pilih kupon",
  "Copy":"Salin",
  "Call":"Panggil",
  "Please enter valid tracking number of returned package":"Harap masukkan nomor pelacakan yang valid dari paket yang dikembalikan",
  "Remarks":"Keterangan",
  "Invoice details":"Detail faktur",
  "Category":"Kategori",
  "Title":"Judul",
  "Taxpayer's identification number":"Nomor pokok wajib pajak",
  "Content":"Isi",
  "Amount":"Jumlah",
  "Receiver Info":"Info Penerima",
  "E-mail":"Email",
  "Mobile number":"Nomor ponsel",
  "Status":"Status",
  "Switch account":"Beralih akun",
  "Up to 15 characters":"Hingga 15 karakter",
  "No shipping address added. Please add one":"Alamat pengiriman tidak ditambahkan. Harap tambahkan satu",
  "A maximum of 20 shipping addresses can be added":"Dapat menambahkan maksimum 20 alamat pengiriman",
  "Add shipping address":"Tambahkan alamat pengiriman",
  "Apt, suite, unit, building, floor, e.g., No. 1001, Building 10":"Apt, suite, unit, gedung, lantai, misalnya, No. 1001, Gedung 10",
  "Please enter tag name":"Harap masukkan nama tag",
  "Ended":"Berakhir",
  "The sale has ended":"Penjualan telah berakhir",
  "Not started yet":"Belum dimulai",
  "It ends in":"Ini berakhir dalam",
  "Paid successfully":"Berhasil dibayar",
  "WeChat Pay":"WeChat Pay",
  "View orders":"Lihat pesanan",
  "Back to Home":"Kembali ke Beranda",
  "Name":"Nama",
  "Company name":"Nama perusahaan",
  "Please enter name":"Harap masukkan nama",
  "Please enter company name":"Harap masukkan nama perusahaan",
  "Mobile number":"Nomor ponsel",
  "Identification number":"Nomor identifikasi",
  "The invoice will display detailed products and price. The invoice amount will be the actual payment amount and will not include any discounts or deductions":"Faktur akan menampilkan produk dan harga terperinci. Jumlah faktur akan menjadi jumlah pembayaran aktual dan tidak menyertakan diskon atau potongan apa pun",
  "Notes":"Catatan",
  "Order number":"Nomor pesanan",
  "Subtotal":"Subtotal",
  "Shipping":"Pengiriman",
  "Actual amount":"Jumlah aktual",
  "No orders":"Tidak ada pesanan",
  "Group buying ends in":"Pembelian grup berakhir dalam",
  "Cancel automatically when it ends":"Batalkan secara otomatis saat berakhir",
  "End in":"Berakhir dalam",
  "Pay now or it will be canceled when it ends":"Bayar sekarang atau akan dibatalkan saat berakhir",
  "Not paid timely":"Tidak dibayar tepat waktu",
  "Modify":"Ubah",
  "Offers":"Penawaran",
  "No applicable coupons":"Kupon tidak berlaku",
  "Order placed":"Pesanan dibuat",
  "Invoice":"Faktur",
  "No applicable coupons":"Kupon tidak berlaku",
}