module.exports = {
  "Top seller: iPhone 13":"Top seller: iPhone 13",
  "Loading": "Loading", 
  "Refresh":"Refresh",
  "Load failure": "Load failure",
  "Current version":"Current version",
  "Business time":"Business time",
  "Chat now":"Chat now",
  "Cancel":"Cancel",
  "Call us":"Call us",
  "Call":"Call",
  "Please login":"Please login",
  "Normal user":"Normal user",
  "synthesis":"synthesis",
  "Price": "Price",
  "screen":"screen",
  "Save":"Save",
  "Reset":"Reset",
  "OK":"OK",
  "Confirm":"Confirm",
  "Select all":"Select all",
  "Subtotal":"Subtotal",
  "Without shipping cost":"Without shipping cost",
  "Go to checkout":"Go to checkout",
  "Coupons":"Coupons",
  "Delete":"Delete",
  "Not enough stock":"Not enough stock",
  "Out of stock":"Out of stock",
  "Only {stockQuantity} remaining":"Only {stockQuantity} remaining",
  "Out of stock":"Out of stock",
  "Re-select":"Re-select",
  "Please select other product available":"Please select other product available",
  "Selected specifications":"Selected specifications",
  "Coupons can be stacked":"Coupons can be stacked",
  "Free shipping":"Free shipping",
  "Yuan":"Yuan",
  "off":"off",
  "Coupon can be applied for the following items":"Coupon can be applied for the following items",
  "coupon":"coupon",
  "Rule details":"Rule details",
  "Coupon validity time":"Coupon validity time",
  "Coupon description":"Coupon description",
  "Coupon usage":"Coupon usage",
  "View applicable products":"View applicable products",
  "Coupon center":"Coupon center",
  "Response from the owner":"Response from the owner",
  "Review":"Review",
  "Review anonymously":"Review anonymously",
  "Review on shipping service":"Review on shipping service",
  "Shipping service review":"Shipping service review",
  "All":"All",
  "View":"View",
  "My reviews":"My reviews",
  "With pictures":"With pictures",
  "Positive reviews":"Positive reviews",
  "Neutral reviews":"Neutral reviews",
  "Negative reviews":"Negative reviews",
  "Add to cart":"Add to cart",
  "Buy now":"Buy now",
  "Select":"Select",
  "Quantity":"Quantity",
  "Starting from":"Starting from",
  "Claim coupon":"Claim coupon",
  "The buyer has shipped the product":"The buyer has shipped the product",
  "Share":"Share",
  "Selected":"Selected",
  "Reviews":"Reviews",
  "Positive reviews":"Positive reviews",
  "Details":"Details",
  "Price range":"Price range",
  "Tracking number for return":"Tracking number for return",
  "Note: After the WeChat refunded you, you can look up your WeChat transactions. It might take some time for the bank to process the refund. Please check your account later":"Note: After the WeChat refunded you, you can look up your WeChat transactions. It might take some time for the bank to process the refund. Please check your account later",
  "Recently viewed":"Recently viewed",
  "Clear":"Clear",
  "Top searches":"Top searches",
  "No refund or aftersale service requests":"No refund or aftersale service requests",
  "Apply for refund without returning product":"Apply for refund without returning product",
  "Refund description":"Refund description",
  "Submit evidence":"Submit evidence",
  "Up to 3 pictures":"Up to 3 pictures",
  "Submit":"Submit",
  "Cancel":"Cancel",
  "Default":"Default",
  "Refund amount":"Refund amount",
  "Didn't receive the product or the merchant agreed not to return the product ":"Didn't receive the product or the merchant agreed not to return the product ",
  "Contact us":"Contact us",
  "Business hour":"Business hour",
  "Online Chat":"Online Chat",
  "Insufficient stock":"Insufficient stock",
  "Re-select":"Re-select",
  "Please select the product specification":"Please select the product specification",
  "Item with restricted quantity":"Item with restricted quantity",
  "The following items are restricted in quantity. Please change the quantity":"The following items are restricted in quantity. Please change the quantity",
  "Shipping not supported":"Shipping not supported",
  "The items do not support shipping. Please change shipping address or remove the items to proceed to checkout":"The items do not support shipping. Please change shipping address or remove the items to proceed to checkout",
  "Some items are out of stock or invalid":"Some items are out of stock or invalid",
  "Please return to your cart to select products or proceed to checkout ignoring any insufficient or invalid items":"Please return to your cart to select products or proceed to checkout ignoring any insufficient or invalid items",
  "All items are either out of stock or invalid":"All items are either out of stock or invalid",
  "Please go back to cart and select product":"Please go back to cart and select product",
  "Back to cart":"Back to cart",
  "Modify shipping address":"Modify shipping address",
  "Proceed to checkout":"Proceed to checkout",
  "Expand（Total: {goodsCount} item(s)）":"Expand（Total: {goodsCount} item(s)）",
  "selected and can save ":"selected and can save ",
  "This coupon cannot be applied with selected ones":"This coupon cannot be applied with selected ones",
  "No coupons":"No coupons",
  "Select coupons":"Select coupons",
  "Copy":"Copy",
  "Call":"Call",
  "Please enter valid tracking number of returned package":"Please enter valid tracking number of returned package",
  "Remarks":"Remarks",
  "Invoice details":"Invoice details",
  "Category":"Category",
  "Title":"Title",
  "Taxpayer's identification number":"Taxpayer's identification number",
  "Content":"Content",
  "Amount":"Amount",
  "Receiver Info":"Receiver Info",
  "E-mail":"E-mail",
  "Mobile number":"Mobile number",
  "Status":"Status",
  "Switch account":"Switch account",
  "Up to 15 characters":"Up to 15 characters",
  "No shipping address added. Please add one":"No shipping address added. Please add one",
  "A maximum of 20 shipping addresses can be added":"A maximum of 20 shipping addresses can be added",
  "Add shipping address":"Add shipping address",
  "Apt, suite, unit, building, floor, e.g., No. 1001, Building 10":"Apt, suite, unit, building, floor, e.g., No. 1001, Building 10",
  "Please enter tag name":"Please enter tag name",
  "Ended":"Ended",
  "The sale has ended":"The sale has ended",
  "Not started yet":"Not started yet",
  "It ends in":"It ends in",
  "Paid successfully":"Paid successfully",
  "WeChat Pay":"WeChat Pay",
  "View orders":"View orders",
  "Back to Home":"Back to Home",
  "Name":"Name",
  "Company name":"Company name",
  "Please enter name":"Please enter name",
  "Please enter company name":"Please enter company name",
  "Mobile number":"Mobile number",
  "Identification number":"Identification number",
  "The invoice will display detailed products and price. The invoice amount will be the actual payment amount and will not include any discounts or deductions":"The invoice will display detailed products and price. The invoice amount will be the actual payment amount and will not include any discounts or deductions",
  "Notes":"Notes",
  "Order number":"Order number",
  "Subtotal":"Subtotal",
  "Shipping":"Shipping",
  "Actual amount":"Actual amount",
  "No orders":"No orders",
  "Group buying ends in":"Group buying ends in",
  "Cancel automatically when it ends":"Cancel automatically when it ends",
  "End in":"End in",
  "Pay now or it will be canceled when it ends":"Pay now or it will be canceled when it ends",
  "Not paid timely":"Not paid timely",
  "Modify":"Modify",
  "Offers":"Offers",
  "No applicable coupons":"No applicable coupons",
  "Order placed":"Order placed",
  "Invoice":"Invoice",
  "No applicable coupons":"No applicable coupons",
}