module.exports = {
  "Top seller: iPhone 13":"Meilleure vente : iPhone 14",
  "Loading": "Chargement", 
  "Refresh":"Actualiser",
  "Load failure": "Défaut de chargement",
  "Current version":"Version actuelle",
  "Business time":"Heures ouvrables",
  "Chat now":"Discuter maintenant",
  "Cancel":"Annuler",
  "Call us":"Nous appeler",
  "Call":"Appeler",
  "Please login":"Veuillez vous connecter",
  "Normal user":"Utilisateur normal",
  "synthesis":"synthèse",
  "Price": "Prix",
  "screen":"écran",
  "Save":"Enregistrer",
  "Reset":"Réinitialiser",
  "OK":"OK",
  "Confirm":"Confirmer",
  "Select all":"Tout sélectionner",
  "Subtotal":"Sous-total",
  "Without shipping cost":"Sans frais de port",
  "Go to checkout":"Accéder au paiement",
  "Coupons":"Coupons",
  "Delete":"Supprimer",
  "Not enough stock":"Stock insuffisant",
  "Out of stock":"En rupture de stock",
  "Only {stockQuantity} remaining":"Il ne reste que {stockQuantity}",
  "Out of stock":"En rupture de stock",
  "Re-select":"Sélectionner à nouveau",
  "Please select other product available":"Veuillez sélectionner un autre produit disponible",
  "Selected specifications":"Spécifications sélectionnées",
  "Coupons can be stacked":"Coupons cumulables",
  "Free shipping":"Livraison gratuite",
  "Yuan":"Yuan",
  "off":"de réduction",
  "Coupon can be applied for the following items":"Le coupon peut être utilisé pour les articles suivants",
  "coupon":"coupon",
  "Rule details":"Détails de la règle",
  "Coupon validity time":"Durée de validité du coupon",
  "Coupon description":"Description du coupon",
  "Coupon usage":"Utilisation du coupon",
  "View applicable products":"Voir les produits applicables",
  "Coupon center":"Centre de coupons",
  "Response from the owner":"Réponse du propriétaire",
  "Review":"Avis",
  "Review anonymously":"Avis anonyme",
  "Review on shipping service":"Avis concernant le service d'expédition",
  "Shipping service review":"Avis sur le service d'expédition",
  "All":"Tout",
  "View":"Afficher",
  "My reviews":"Mes avis",
  "With pictures":"Avec des photos",
  "Positive reviews":"Avis positifs",
  "Neutral reviews":"Avis neutres",
  "Negative reviews":"Avis négatifs",
  "Add to cart":"Ajouter au panier",
  "Buy now":"Acheter maintenant",
  "Select":"Sélectionner",
  "Quantity":"Quantité",
  "Starting from":"À partir de",
  "Claim coupon":"Demander un coupon",
  "The buyer has shipped the product":"L'acheteur a expédié le produit",
  "Share":"Partager",
  "Selected":"Sélectionné",
  "Reviews":"Avis",
  "Positive reviews":"Avis positifs",
  "Details":"Détails",
  "Price range":"Fourchette de prix",
  "Tracking number for return":"Numéro de suivi pour le retour",
  "Note: After the WeChat refunded you, you can look up your WeChat transactions. It might take some time for the bank to process the refund. Please check your account later":"Remarque : Une fois que WeChat vous a remboursé, vous pouvez consulter vos transactions WeChat. Le traitement du remboursement par la banque peut prendre un certain temps. Veuillez consulter votre compte ultérieurement",
  "Recently viewed":"Récemment consulté(s)",
  "Clear":"Effacer",
  "Top searches":"Recherches les plus fréquentes",
  "No refund or aftersale service requests":"Pas de remboursement ni de demande de service après-vente",
  "Apply for refund without returning product":"Demander un remboursement sans retourner le produit",
  "Refund description":"Description du remboursement",
  "Submit evidence":"Envoyer des preuves",
  "Up to 3 pictures":"Jusqu’à trois photos",
  "Submit":"Envoyer",
  "Cancel":"Annuler",
  "Default":"Défaut",
  "Refund amount":"Montant du remboursement",
  "Didn't receive the product or the merchant agreed not to return the product ":"Vous n'avez pas reçu le produit ou le commerçant a accepté le non retour ",
  "Contact us":"Contactez nous",
  "Business hour":"Heure ouvrable",
  "Online Chat":"Chat en ligne",
  "Insufficient stock":"Stock insuffisant",
  "Re-select":"Sélectionner à nouveau",
  "Please select the product specification":"Veuillez sélectionner la spécification du produit",
  "Item with restricted quantity":"Article à quantité restreinte",
  "The following items are restricted in quantity. Please change the quantity":"Les articles suivants font l'objet de restrictions quantitatives. Veuillez modifier la quantité",
  "Shipping not supported":"L'expédition n'est pas prise en charge",
  "The items do not support shipping. Please change shipping address or remove the items to proceed to checkout":"Les articles ne prennent pas en charge l'expédition. Veuillez modifier l'adresse de livraison ou supprimer les articles pour passer à la caisse",
  "Some items are out of stock or invalid":"Certains articles sont en rupture de stock ou non valides",
  "Please return to your cart to select products or proceed to checkout ignoring any insufficient or invalid items":"Retournez dans votre panier pour sélectionner des produits ou passez à la caisse en ignorant les articles insuffisants ou non valides",
  "All items are either out of stock or invalid":"Tous les articles sont soit en rupture de stock, soit non valides",
  "Please go back to cart and select product":"Veuillez retourner au panier et sélectionner le produit",
  "Back to cart":"Retour au panier",
  "Modify shipping address":"Modifier l'adresse de livraison",
  "Proceed to checkout":"Continuer vers la page de paiement",
  "Expand（Total: {goodsCount} item(s)）":"Développer (Total : {goodsCount} article(s))",
  "selected and can save ":"sélectionné(s) et enregistrement possible ",
  "This coupon cannot be applied with selected ones":"Ce coupon ne peut pas être appliqué à des produits sélectionnés",
  "No coupons":"Aucun coupon",
  "Select coupons":"Sélectionner les coupons",
  "Copy":"Copier",
  "Call":"Appeler",
  "Please enter valid tracking number of returned package":"Veuillez indiquer le numéro de suivi valide du colis retourné",
  "Remarks":"Remarques",
  "Invoice details":"Détails de la facture",
  "Category":"Catégorie",
  "Title":"Titre",
  "Taxpayer's identification number":"Numéro d'identification du contribuable",
  "Content":"Contenu",
  "Amount":"Montant",
  "Receiver Info":"Informations sur le destinataire",
  "E-mail":"E-mail",
  "Mobile number":"Numéro de téléphone mobile",
  "Status":"Statut",
  "Switch account":"Changer de compte",
  "Up to 15 characters":"Jusqu'à 15 caractères",
  "No shipping address added. Please add one":"Aucune adresse de livraison n'a été ajoutée. Veuillez en ajouter une",
  "A maximum of 20 shipping addresses can be added":"Un maximum de 20 adresses de livraison peuvent être ajoutées",
  "Add shipping address":"Ajouter une adresse de livraison",
  "Apt, suite, unit, building, floor, e.g., No. 1001, Building 10":"Appartement, suite, unité, bâtiment, étage, par exemple, N° 1001, Bâtiment 10",
  "Please enter tag name":"Veuillez saisir le nom de l'étiquette",
  "Ended":"Fin",
  "The sale has ended":"Offre terminée",
  "Not started yet":"Pas encore commencé(e)",
  "It ends in":"Se termine dans",
  "Paid successfully":"Payé avec succès",
  "WeChat Pay":"WeChat Pay",
  "View orders":"Voir les commandes",
  "Back to Home":"Retour à l'accueil",
  "Name":"Nom",
  "Company name":"Nom de l'entreprise",
  "Please enter name":"Veuillez saisir le nom",
  "Please enter company name":"Veuillez saisir le nom de l'entreprise",
  "Mobile number":"Numéro de téléphone mobile",
  "Identification number":"Numéro d'identification",
  "The invoice will display detailed products and price. The invoice amount will be the actual payment amount and will not include any discounts or deductions":"La facture affichera le détail des produits et des prix. Le montant de la facture sera le montant réel du paiement et n'inclura aucune remise ou déduction",
  "Notes":"Notes",
  "Order number":"Numéro de commande",
  "Subtotal":"Sous-total",
  "Shipping":"Expédition",
  "Actual amount":"Montant réel",
  "No orders":"Aucune commande",
  "Group buying ends in":"Les achats groupés se terminent dans",
  "Cancel automatically when it ends":"Annulation automatique à la fin de la période",
  "End in":"Se termine dans",
  "Pay now or it will be canceled when it ends":"Payez maintenant ou l'offre sera annulée à la fin de la période",
  "Not paid timely":"Non payé dans les délais",
  "Modify":"Modifier",
  "Offers":"Offres",
  "No applicable coupons":"Pas de coupons applicables",
  "Order placed":"Commande passée",
  "Invoice":"Facture",
  "No applicable coupons":"Pas de coupons applicables",
}