@font-face {
  font-family: "iconfont"; /* Project id 2819771 */
  src: url('iconfont.woff2?t=1714226530981') format('woff2'),
       url('iconfont.woff?t=1714226530981') format('woff'),
       url('iconfont.ttf?t=1714226530981') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongjifenxi:before {
  content: "\100c6";
}

.icon-shouru:before {
  content: "\e6ad";
}

.icon-zhichu:before {
  content: "\e6ba";
}

.icon-jiejiari:before {
  content: "\e698";
}

.icon-dianzan:before {
  content: "\e61c";
}

.icon-paiban:before {
  content: "\e661";
}

.icon-jishiqi:before {
  content: "\e71b";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-color:before {
  content: "\e612";
}

.icon-sijipaiban:before {
  content: "\e60f";
}

.icon-daojishi:before {
  content: "\e67b";
}

.icon-switch:before {
  content: "\e62c";
}

.icon-shuomin:before {
  content: "\e70a";
}

.icon-fenxiang:before {
  content: "\e713";
}

.icon-shengchanpaiqi:before {
  content: "\e60d";
}

.icon-extend:before {
  content: "\e60b";
}

.icon-collaboration-system-full:before {
  content: "\e85b";
}

.icon-faxian:before {
  content: "\e62b";
}

.icon-jujiao:before {
  content: "\e62a";
}

.icon-copy:before {
  content: "\e629";
}

.icon-gongxiangrenwu:before {
  content: "\e628";
}

.icon-tixing:before {
  content: "\e673";
}

.icon-quxiaotixing:before {
  content: "\e670";
}

.icon-gou:before {
  content: "\e627";
}

.icon-yiwancheng:before {
  content: "\e626";
}

.icon-naozhong:before {
  content: "\e652";
}

.icon-richeng06:before {
  content: "\e675";
}

.icon-richeng_schedule:before {
  content: "\e624";
}

.icon-tongji:before {
  content: "\e660";
}

.icon-dingwei:before {
  content: "\e900";
}

.icon-woman:before {
  content: "\e620";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-xibao:before {
  content: "\e635";
}

.icon-gengduo:before {
  content: "\e69a";
}

.icon-renshu:before {
  content: "\e621";
}

.icon-yijianfankui:before {
  content: "\e622";
}

.icon-xiangzuohuadong:before {
  content: "\e772";
}

.icon-yangxiao:before {
  content: "\e61d";
}

.icon-zhuxiao:before {
  content: "\e61e";
}

.icon-jixiao:before {
  content: "\e6e7";
}

.icon-houxiao:before {
  content: "\e6f0";
}

.icon-huxiao:before {
  content: "\e6f1";
}

.icon-longxiao:before {
  content: "\e6f5";
}

.icon-maxiao:before {
  content: "\e6f6";
}

.icon-niuxiao:before {
  content: "\e6f9";
}

.icon-shexiao:before {
  content: "\e6ff";
}

.icon-shuxiao:before {
  content: "\e701";
}

.icon-tuxiao:before {
  content: "\e704";
}

.icon-gouxiao:before {
  content: "\e61f";
}

.icon-chunvzuo:before {
  content: "\e605";
}

.icon-juxiezuo:before {
  content: "\e609";
}

.icon-shuangzizuo:before {
  content: "\e60a";
}

.icon-muyangzuo:before {
  content: "\e60c";
}

.icon-shuipingzuo:before {
  content: "\e60e";
}

.icon-shuangyuzuo:before {
  content: "\e610";
}

.icon-mojiezuo:before {
  content: "\e613";
}

.icon-shizizuo:before {
  content: "\e615";
}

.icon-tianhezuo:before {
  content: "\e617";
}

.icon-sheshouzuo:before {
  content: "\e618";
}

.icon-tianchengzuo:before {
  content: "\e61a";
}

.icon-jinniuzuo:before {
  content: "\e61b";
}

.icon-shengri:before {
  content: "\e619";
}

.icon-gerenxinxi:before {
  content: "\e623";
}

.icon-jishu:before {
  content: "\e608";
}

.icon-shijian:before {
  content: "\e6cf";
}

.icon-chongzhi:before {
  content: "\e607";
}

.icon-tuige:before {
  content: "\e611";
}

.icon-edit:before {
  content: "\e606";
}

.icon-qita:before {
  content: "\e66e";
}

.icon-rili:before {
  content: "\e601";
}

.icon-empty:before {
  content: "\e616";
}

.icon-shijianxian1-copy:before {
  content: "\e650";
}

.icon-fenpeishijianxian-copy:before {
  content: "\e651";
}

.icon-zhishi1-copy:before {
  content: "\e632";
}

.icon-index:before {
  content: "\e604";
}

.icon-zhishi1:before {
  content: "\e630";
}

.icon-user-copy:before {
  content: "\e633";
}

